<!-- views/oauth-callback.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Email</title>
    <link id="favicon" rel="icon" href="https://cdn.glitch.global/887fed5c-3c1b-472d-8fdc-c2a3bad1fe27/oillamp(powderblue).svg?v=1709088268120" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://torango-exporter.glitch.me/public/styles.css" />
</head>
<body>
    <% if (profileResponse && profileResponse.data.user) { %>
        <p>Hi, <%= profileResponse.data.user.name %>!</p>
        <form action="/send-email" method="post">
            <label for="email">Enter your email:</label>
            <input type="email" id="email" name="email" required>
            <button type="submit">Send Email</button>
        </form>
    <% } else { %>
        <p>Error in OAuth callback</p>
    <% } %>
</body>
</html>
