<!-- views/oauth-callback.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Email</title>
    <link id="favicon" rel="icon" href="https://cdn.glitch.global/887fed5c-3c1b-472d-8fdc-c2a3bad1fe27/oillamp(powderblue).svg?v=1709088268120" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://torango-exporter.glitch.me/public/styles.css" />
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LRS5LVL8ED"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LRS5LVL8ED');
</script>
  <style>
    /* styles.css */
.art-card {
  width: 60dvh;
  height: 60dvh;
  border: 1px solid black;
  overflow: hidden;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: overflow 0.2s;
}

.art-card:hover,
.art-card:focus-within {
  overflow: auto; /* Display scroll bars on hover or when focused */
}

.art-card::-webkit-scrollbar {
  width: 10px;
  
}

.art-card::-webkit-scrollbar-track {
  background: #f1f1f1; 
  display: none;
}

.art-card::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px; 
}

.art-card::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.main {
  margin: 5%;
}
  </style>
</head>
<body>
  <section class="main">
    <h2>
      Your Article
    </h2>
      <section class="art-card">
        <h2>Title: <%= article.title %></h2>
        <div>
          <p><%- article.body %></p>
        </div>
      </section>
    </section>

</body>
</html>
